<div class="container">
  <div class="content">
    <div class="group">
      <h1 id="heading-1">Getting ready on your Cambridge English Exam journey?</h1>
      <p id="subheading-1">Meet your ultimate study companion.</p>
      <div class="bullets">
        <div class="bullet">
          <div class="check"><mat-icon svgIcon="check"></mat-icon></div>
          <span>

            Dive into an exciting quiz-app prototype
          </span>
        </div>
        <div class="bullet">
          <div class="check"><mat-icon svgIcon="check"></mat-icon></div>
          <span>
            Receive immediate feedback on your quiz results and get personalized
            learning course recommendations that fits you perfectly.
          </span>
        </div>
        <div class="bullet">
          <div class="check"><mat-icon svgIcon="check"></mat-icon></div>
          <span>

            Let's ace that Cambridge English Exam together!
          </span>
        </div>
      </div>
      <button id="take-quiz-btn" mat-flat-button color="primary" (click)="startQuiz()" >Start Quiz</button>
    </div>
    <img id="header-img" src="assets/images/header_img.svg" alt="header image" />
  </div>
  <div class="overview">
    <h4>Overview of Available Courses by Level:</h4>
    <div class="courses">
      <div class="course" *ngFor="let course of COURSES">
        <h2 class="course-code">{{course.code}}</h2>
        <p class="course-desc">{{course.desc}}</p>
      </div>
    </div>
  </div>
</div>
